* {
  margin: 0px;
  padding: 0px;
}
body {
  padding: 25px;
  display: flex;
  background-color: #d0faf4;
}
body > div {
  width: 50%;
}
.biggest {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
.biggest h3 {
  width: 20%;
  color: #57b39a;
  font-weight: 100;
}
.biggest p {
  width: 60%;
}
.par {
  height: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  gap: 5vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 5vh;
}

.container-1 {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-bottom: 20px;
}

.box {
  background-color: white;
  width: 210px;
  height: 40%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
/* Break point for mobile devices */
@media (max-width: 576px) {
  body {
    flex-direction: column;
  }
  body > div {
    width: 100%;
  }
  .biggest h3 {
    width: 100%;
    text-align: center;
  }
  .par {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
  }
  .container-1 {
    width: 100%;
  }
  .box {
    width: 90%;
  }
}
